RewriteEngine On     
RewriteRule    	^home/?$    					index.php    [NC,L]   
RewriteRule    	^reservation/?$    				reservation.php    [NC,L]    
RewriteRule    	^guestinfo/?$    				guestinfo.php    [NC,L]    
RewriteRule    	^thankyou/?$    				thankyou.php    [NC,L]   
RewriteRule    	^admin/?$    				admin.php    [NC,L]   
RewriteRule    	^logout/?$    				logout.php    [NC,L]  
RewriteRule    	^admin-logout/?$    				admin-logout.php    [NC,L]  

RewriteRule     ^profile/([A-Za-z0-9]+)?$  					reservation.php?rnum=$1&page1=$2 [NC,L]    
 