
 /**:focus{ outline:none; } */


#hr_body_content { padding: 20px; }

	#admin-login-container-div { /*border: 1px solid red;*/padding: 20px;  width: 500px; background-color: #000;  } 
		#admin-login-container-table {/* border: 1px solid red; */height: 200px;width:  100%; background-color: #fff;   }
			#admin-login-form-header { background-color: #415e9b; }
				#admin-login-form-header table { width: 100%; float: left; }
				#admin-login-form-header table td { color: #fff; text-align: left; padding: 10px; } 
				#admin-login-form-header table td u { cursor: pointer;  } 
			#admin-login-form-body   { }
				#admin-login-form-body table { width: 100%; float: left; }
				#admin-login-form-body table td { padding: 10px; }
				#admin-login-form-body table td input[type='text']  { width: 95%; padding: 10px;  }
				#admin-login-form-body table td input[type='password']  { width: 95%; padding: 10px;  } 
				#admin-login-form-body table td input[type='submit']  {  padding: 10px; float: left;  } 
			#admin-login-form-footer { background-color: #415e9b;  color: #fff;  }
				#admin-login-form-footer table { width: 100%; float: left; }
				#admin-login-form-footer table td { color: #fff; text-align: left; padding: 10px; } 
				#admin-login-form-footer table td u { cursor: pointer;  }  
	#admin-dashboard-container-div { width: 100%; }
		#admin-dashboard-container-table { width: 100%; } 
			#admin-dashboard-container-header { background-color: #415e9b; height: 50px; padding: 15px; }
				#admin-dashboard-container-header table { color: #fff;   }
				#admin-dashboard-container-header table td {  } 
			#admin-dashboard-container-body { background-color: #fff;   padding: 20px;   }
				#admin-dashboard-container-body table { color: #415e9b;  width: 100%;   text-align: left;  }
				#admin-dashboard-container-body table#dashboard-feeds-header-table { border: 1px solid #ccc; }
				#admin-dashboard-container-body table td {  } 
				#admin-dashboard-container-body table td#dashboard-feeds-header { background-color: #415e9b; height: 5px;    }  
				#admin-dashboard-container-body table td#dashboard-feeds-body   { background-color: #f1f1f1; /*height: 200px;*/ padding-top: 8px;  } 
					#admin-dashboard-container-body table td#dashboard-feeds-body ul { }
					#admin-dashboard-container-body table td#dashboard-feeds-body ul li {  width: 32%;/*  border: 1px solid red; */}
					#admin-dashboard-container-body table td#dashboard-feeds-body ul li table td { padding-bottom: 9px; padding-left: 10px;  } 
					#admin-dashboard-container-body table td#dashboard-feeds-body ul li table td table td { font-size: 12px; padding-bottom: 0px;   }
					#admin-dashboard-container-body table td#dashboard-feeds-body ul li table td table td u {  color: #000; font-size: 8px;  }
				#admin-dashboard-container-body table td#dashboard-feeds-footer1{ background-color: #415e9b; height: 50px;   }
					#admin-dashboard-container-body table td#dashboard-feeds-footer1 table {  color: #fff; padding-left: 20px;    } 
					#admin-dashboard-container-body table td#dashboard-feeds-footer1 table td { font-size: 12px; padding-bottom: 0px; } 
					#admin-dashboard-container-body table td#dashboard-feeds-footer1 table td u {  font-size: 8px; } 
				#admin-dashboard-container-body table td#dashboard-feeds-footer2{ background-color: #000;    height: 50px;   } 
					#admin-dashboard-container-body table td#dashboard-feeds-footer2 table { color: #fff; width: 50%; padding-left: 20px; }
					#admin-dashboard-container-body table td#dashboard-feeds-footer2 table td { }
					#admin-dashboard-container-body table td#dashboard-feeds-footer2 table td u { cursor: pointer; }
			#admin-dashboard-container-footer { background-color: #415e9b; height: 50px; } 
	#admin-uploadamenities-container-div { /*border: 1px solid red;*/  }
		#admin-uploadamenities-container-div table  { width: 100%;  } 		
		#uploadamenities-container-header{ background-color: #415e9b; color: #fff;  padding: 10px; padding-left: 22px; }
		#uploadamenities-container-body { background-color: #fff; padding: 20px; border: 1px solid #ccc; }
			#uploadamenities-container-body table  { }
			#uploadamenities-container-body table td { }
			#uploadamenities-container-body table td#header { background-color: #415e9b; height: 20px; }
			#uploadamenities-container-body table td#body { background-color: #000; padding: 10px 0px 10px 10px; }
			#uploadamenities-container-body table td#body ul  { }
			#uploadamenities-container-body table td#body ul li img {/* height: 240px;*/  }
			#uploadamenities-container-body table td#body ul li div { float: right; padding-right: 10px;  }
			#uploadamenities-container-body table td#body ul li input[type='submit'] , #submit{ padding: 10px; background-color: #fff; color: #000; border: none; cursor: pointer;  }
			#uploadamenities-container-body table td#body ul li table { /*border: 1px solid red;*/ padding-left: 10px; padding-right: 10px; }
			#uploadamenities-container-body table td#body ul li table td { padding-bottom: 10px; }
			#uploadamenities-container-body table td#body ul li table td input[type='text']  { width: 96%;  padding: 10px; font-size: 12px; font-family: 'arial' }
			#uploadamenities-container-body table td#body ul li table td textarea { resize: none; width: 96.3%; height: 70px; padding: 10px; font-size: 12px; font-family: 'arial'	 } 
			#uploadamenities-container-body table td#body table { }
			#uploadamenities-container-body table td#body table td { }
			#uploadamenities-container-body table td#body table td ul { }
			#uploadamenities-container-body table td#body table td ul li { position: relative; height: 300px;/* border: 1px solid red; */ width: 24%; padding: 0px; padding-top: 5px; }
			#uploadamenities-container-body table td#body table td ul li img { width: 195px; }
			
			#uploadamenities-container-body table td#body table td ul li table { padding: 0px; }
			#uploadamenities-container-body table td#body table td ul li table td { padding: 0px; }
			 
			#uploadamenities-container-body table td ul { }
			#uploadamenities-container-body table td ul li { /*border: 1px solid green;*/ }
		#uploadamenities-container-footer{ background-color: #415e9b }
	#room-view-desc { /*border:1px solid #000;*/ width:96%; padding: 0px; color: #000; }
		#room-view-desc u { font-size: 10px;   }
		#room-view-desc desc { font-size: 15px;  }

